<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">作成</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <%= form_with model: message, local: false, class: "text-center" do |f| %>
      <div class="modal-body">
        <%= f.text_area :text, class: "mb-3", placeholder: "いいことば" %><br>
        <%= f.collection_select :tag_id, tags, :id, :tagname,
        　　include_blanck: "--選択してください--" %><br><br>
        <div class="modal_submit">
          <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i>ことば</button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div