      <%= form_with model: message, local: true do |f| %>
      <div class="field">
        <%= f.text_area :text, placeholder: "いいことば" %>
      </div>
      <div class="field">
        <%= f.collection_select :tag_id, tags, :id, :tagname,
            include_blanck: "--選択してください--" %>
        <%= f.submit "ことば", class: "btn btn-success" %>
      </div>
      <% end %>