  <table class="table">
    <% messages.each do |message| %>
    <tr>
      <td class="col-8"><%= safe_join(message.text.split("\n"),tag(:br)) %></td>
      <td>
      <button type="button" class="btn btn-outline-success btn-sm"
      data-toggle="modal" data-target="#editModal" data-whatever="@message">編集</button>
      <%= render "public/messages/form", message: message, tags: tags %></td>
      <td><%= link_to "削除", message_path(message.id), method: :delete, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </table>