<% messages.each do |message| %>
<div class="message-index smart text-center">
  <%= safe_join(message.text.split("\n"),tag(:br)) %><br>
  <div class="text-center">
    <%= link_to "編集", edit_message_path(message.id), class: "btn btn-success btn-sm" %>
    <%= link_to "削除", message_path(message.id), method: :delete, data: {confirm: "削除しますか？"},
        class: "btn btn-danger btn-sm", remote: true %>
  </div>
</div><br>
<% end %>
