<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h4>あらためたことば</h4>
      <%= render "public/messages/form", message: @message, tags: @tags %>
    </div>
  </div>
</div>