<% if message.favorited?(current_user) %>
  <p class="count">
    <%= link_to message_favorites_path(message), method: :delete, remote: true do %>
        いいね
    <% end %>
  </p>
<% else %>
  <p class="count">
    <%= link_to message_favorites_path(message), method: :post, remote: true do %>
        すごいね
    <% end %>
  </p>
<% end %>