*{
  font-family: 'Hannotate TC',sans-serif;
}

header{
  width: 100%;
}
.nav-item a:hover {
  background-color: yellow;
}

.navbar-toggle{
  text-align: right
}
li{
  text-align: right
}
.nav-item{
  font-size: 20px;
  margin: 0 10px;
}
.message-flame{
  width: 100%;
  padding: 30px;
  border: 1px solid #000000;
}
.message-flame-index{
  width: 100%;
  padding: 15px;
  border: 1px solid #000000;
}
.user-name{
  font-size: 30px;
}
.favorite{
  opacity: 0.5;
}
.smart {
  display: none;
}

@media screen and (max-width: 992px) {
 .pc {
  display: none;
 }
 .smart {
 display: block;
 }
}

@media screen and (max-width: 767px) {
 .smart {
   font-size: 0.7em;
 }
}