<div class="container">
  <div class="row">
    <div class="col-3 mx-auto text-center">
      <button type="button" class="btn btn-outline-success btn-sm"
      data-toggle="modal" data-target="#commentModal" data-whatever="@message">投稿</button>
      <%= render "public/messages/form", message: @message, tags: @tags %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h4>じぶんのことば</h4>
      <div id="messages-list">
        <%= render "public/messages/show", messages: @messages, message: @message, tags: @tags %>
      </div>
      <div class="more text-center">
        <%= link_to_next_page @messages, 'もっと見る', remote: true, id: "view-more" %>
      </div>
    </div>
  </div>
</div>